/* entire document */

body {
  background-image: url(../images/background2.jpg);

}

#salmon1 {
  width: 360px;
  height: auto;
}

#main1 {
  width: 800px;
  height: auto;
}

#seattle {
  width: 300px;
  height: auto;

}

#tokyo {
  width: 300px;
  height: auto;

}

#dubai {
  width: 300px;
  height: auto;

}

#lima {
  width: 300px;
  height: auto;

}

#paris {
  width: 300px;
  height: auto;
}

#tba {
  width: 300px;
  height: auto;
}





